{% extends "base.html" %}
{% load static %}

{% block content %}

    <article>

      <!-- 
        - #HERO
      -->

      <section class="hero" id="home" aria-label="home">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle">Blog das Biomoléculas</p>

            <h1 class="headline headline-2 section-title">
              Impacto da <span class="span">Má Alimentação</span> na saúde
            </h1>

            <p class="hero-text">
              Para os seres humanos, a alimentação é um artifício essencial, pois tem a função de transportar os nutrientes, vitaminas e minerais necessários para o organismo, além de fornecer energia para a manutenção, crescimento e reprodução, mantendo o funcionamento adequado do corpo. Diante da falta de alguns nutrientes, o corpo pode sofrer graves consequências em virtude da interrupção de alguma atividade básica. Neste blog, apresentaremos os efeitos decorrentes de uma má alimentação na saúde. 
            </p>


          </div>

          <div class="hero-banner">

            <img src="{% static 'assets/images/foto-banner.png' %}" width="427" height="auto" alt="" class="w-100">

            <img src="{% static 'assets/images/pattern-2.svg' %}" width="27" height="26" alt="shape" class="shape shape-1">

            <img src="{% static 'assets/images/pattern-3.svg' %}" width="27" height="26" alt="shape" class="shape shape-2">

          </div>

          <img src="{% static 'assets/images/shadow-1.svg' %}" width="500" height="800" alt="" class="hero-bg hero-bg-1">

          <img src="{% static 'assets/images/shadow-2.svg' %}" width="500" height="500" alt="" class="hero-bg hero-bg-2">

        </div>
      </section>

      <!-- 
        - #FEATURED POST
      -->

      <section class="section feature" aria-label="feature" id="posts">
        <div class="container">

          <h2 class="headline headline-2 section-title">
            <span class="span">Posts relacionados</span>
          </h2>

          <p class="section-text">
            Principais postagens sobre o assunto
          </p>

          <ul class="feature-list">
            {% for post in posts %}
            <li>
              <div class="card feature-card">

                <figure class="card-banner img-holder" style="--width: 1602; --height: 903;">
                    {% if post.imagem %}
                    <img src="{{ post.imagem.url }}" class="img-cover" alt="{{ post.titulo }}" loading="lazy">
                    {% else %}
                    <img src="{% static 'assets/images/placeholder.jpg' %}" class="img-cover" alt="{{ post.titulo }}"  loading="lazy">
                    {% endif %}
                </figure>

                <div class="card-content">

                  <div class="card-wrapper">
                    <div class="card-tag">
                      <a>###</a>
                    </div>

                    <div class="wrapper">
                      <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                      <span class="span">1 min</span>
                    </div>
                  </div>

                  <h3 class="headline headline-3">
                    <a href="{{ post.link }}" class="card-title hover-2">{{ post.titulo }}</a>
                  </h3>

                  <a href="{{ post.link }}" class="btn btn-primary">Leia mais</a>

                  <button class="btn"></button>

                </div>

              </div>
            </li>
          {% endfor %}
          <ul class="feature-list">
        </div>

        <img src="{% static 'assets/images/shadow-3.svg' %}" width="500" height="1500" loading="lazy" alt="" class="feature-bg">

      </section>

    </article>
{% endblock %}