{% extends "base.html" %}
{% block title %}{{ post.titulo }}{% endblock title %}
<section class="section feature" aria-label="feature" id="posts">
    <div class="container">
      <h1 class="headline headline-2" style="text-align: center;">Entendendo a pirâmide alimentar</h1><br>
      <a href="#"><img class="img-post" src="assets/images/piramide.png" alt="Entendendo a piramide alimentar"></a>
      <br>
      <p class="hero-text" style="font-size: large;">A pirâmide alimentar é um guia visual esquemático que ajuda a promover uma dieta equilibrada, mostrando a proporção e a frequência com que diferentes grupos alimentares devem ser consumidos nesse esquema, os alimentos são classificados em três grupos principais com base em suas funções no organismo:
</p><br>
      <p class="hero-text" style="font-size: large;"><b>Alimentos Construtores</b></p>
      <p class="hero-text" style="font-size: large;">Estes fornecem proteínas e minerais essenciais para o crescimento e a reparação dos tecidos corporais. Exemplos incluem carnes, peixes, ovos, leite e leguminosas.</p>
      <p class="hero-text" style="font-size: large;"><b>Alimentos Reguladores</b></p>
      <p class="hero-text" style="font-size: large;">Contêm vitaminas e minerais que ajudam a regular as funções corporais e a manter a saúde geral. Incluem frutas, verduras e legumes.</p>
      <p class="hero-text" style="font-size: large;"><b>Alimentos Energéticos</b></p>
      <p class="hero-text" style="font-size: large;">Fornecem energia para o corpo realizar suas funções diárias. São ricos em carboidratos e gorduras, como pães, cereais, arroz, batatas e óleos.</p><br>
      <p class="hero-text" style="font-size: large;">A pirâmide alimentar recomenda que a maior parte da dieta venha dos alimentos reguladores e energéticos, enquanto os alimentos construtores devem ser consumidos em quantidades adequadas para atender às necessidades de crescimento e manutenção.
</p><br>
      <p class="hero-text" style="font-size: large;">Esta é a estrutura da Pirâmide Alimentar:</p><br>
      <p class="hero-text" style="font-size: large;"><b>Base da Pirâmide (Fundamento)</b></p>
      <p class="hero-text" style="font-size: large;">Alimentos energéticos como: Grãos integrais, pães, cereais, arroz e massas. Representam a base da dieta, devendo ser consumidos em maiores quantidades. Esses alimentos fornecem carboidratos complexos, fibras e energia.
</p>
      <p class="hero-text" style="font-size: large;"><b>Segundo Nível 
</b></p>
      <p class="hero-text" style="font-size: large;">Alimentos reguladores como: Frutas e vegetais. Devem ser consumidos em variedade diariamente. Eles fornecem vitaminas, minerais e fibras, e ajudam a manter a saúde geral.
></p>
      <p class="hero-text" style="font-size: large;">Terceiro Nível
<b></b></p>
      <p class="hero-text" style="font-size: large;">Alimentos construtores como: Proteínas (carne magra, peixe, ovos, leguminosas) e laticínios (leite, queijo, iogurte).São essenciais para o crescimento, manutenção e reparo dos tecidos do corpo. Recomenda-se consumir porções moderadas.
></p>
      <p class="hero-text" style="font-size: large;"><b>Topo da Pirâmide
</b></p>
      <p class="hero-text" style="font-size: large;">Alimentos energéticos extras como: Gorduras, óleos, açúcares e doces. Deve-se consumir esses alimentos com moderação. Embora possam fornecer energia, seu consumo excessivo está associado a problemas de saúde como doenças cardiovasculares e diabetes.</p><br>
      <p class="hero-text" style="font-size: large;">A pirâmide enfatiza a importância de um equilíbrio entre diferentes grupos alimentares, incentiva o consumo de uma ampla gama de alimentos para garantir a ingestão de todos os nutrientes essenciais e recomenda consumir alimentos mais calóricos e ricos em gorduras e açúcares com moderação para evitar problemas de saúde.
</p>

    </div>
  </section>
{% block content %}
{% endblock content %}