{% extends "base.html" %}
{% load static %}
{% block title %}{{ post.titulo }}{% endblock title %}
{% block content %}

      <section class="section feature" aria-label="feature" id="posts">
        <div class="container">
          <h1 class="headline headline-2" style="text-align: center;">O que é considerado uma má alimentação</h1><br>
          {% if post.imagem %}
          <a href="#"><img class="img-post" src="{{ post.imagem.url }}" alt="{{ post.titulo }}"></a>
          {% else %}
            <img src="{% static 'assets/images/placeholder.jpg' %}" class="img-cover" alt="{{ post.titulo }}"  loading="lazy">
          {% endif %}
          <br>
          <p class="hero-text" style="font-size: large;">{{ post.conteudo }}</p>
        </div>
      </section>{% endblock content %}